DATABASE_URL=postgres://postgres:wokku@db:5432/wokku
REDIS_URL=redis://redis:6379/0
SECRET_KEY_BASE=generate-with-rails-secret
GIT_HOST=0.0.0.0
GIT_PORT=2222
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
